/* Selecteurs generals*/
*{
	margin: 0;
	padding: 0;
}


/*header*/

#haut{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	color: #F5D222;
	background-color:#239E75;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* article*/

h2{
	text-align: center;
	font-size: 30px;
	margin-top: 15px;
	font-family: sans-serif;
}
#letout{
	background-color: #FAD2E1;
	margin: 2em;
	border: solid #FAD2E1;
	color: #3C272C;
}


#lanote{
	text-align: center;
	font-size: 60px;
	font-family: 'Devonshire', cursive;
	
}
#icon{
	text-align: center;
	padding-top: 1em;
}
.fa-music{
	font-size: 50px;
	color: #F05F4B;

}

.titre{
	width: 100%;
	display: flex;
}

.trait{
	margin: auto;
	width: 30%;
	height: 5px;
	background-color:#3C272C;
}

.petitHead{
	text-align: center;
	font-family: cursive;
	margin-top: 30px;
	margin-bottom: 15px;
	position: relative;

}
.petitHead:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 1px;
  background-color: #060100;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

}

.petitHead:hover:before {
  visibility: visible;
  width: 100%;
}
.plat{
	width: 80%;
	margin: auto;
	display: flex;
	padding: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
.norriture{
	width: 90%;

}
.prix{

	width: 10%;
	margin-right: 0px;
}
#foot{
	text-align: center;
	font-family: 'Devonshire', cursive;

}
.petitemus{
	font-size: 25px;
}
/*Footer*/

#bas{
	width: 100%;
	display: flex;
	font-size: 20px;
	background-color: #239E75;
	padding-top: 8px;
	padding-bottom: 8px;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.btn{

	width: 50%;
	color: #F5D222;
	background-color: #239E75;
	border: none;
	text-decoration: none;
}

.btn:hover{


	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#mention{
	
	text-align: left;
	padding-left: 10px;
}

#contact{
	text-align: right;
	padding-right: 10px;
}
/* media queries for screens of less than 500px */
@media all and (max-width: 500px){

*{
	margin: 0;
	padding: 0;
}
#haut{
	width: 100%;
	font-size: 20px;
}
#lanote{
	font-size: 30px;
}

.petitHead{
	font-size: 15px;
}

.plat{
	font-size: 12px;
}
#foot{
	font-size: 20px;
}
#bas{
	width: 100%;
	font-size: 15px;
}
}

