/* Selecteurs generals*/
*{
	margin: 0;
	padding: 0;
}


/*header*/

header{
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	color: #F5D222;
	background-color:#239E75;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 2em;
}

/*article*/

#leTout{
	height: 80%;
}

.resto{
	display: flex;
	width: 100%;

}
.petitMenu{
	width: 30%;
	height: 30em;
	text-align: center;
	margin: auto ;
	margin-bottom: 3em;
	box-shadow: 2px 2px 2px 2px #C6C5C6;
	display: table;
	
}

.inner{
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
}

.inner:hover{
	zoom:120%;
	opacity: 0.6;
}

#laNote{
	background-color: #FAD2E1;
	
}
.icon{
	background: linear-gradient( to right,#F83163,#F98C86);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
}
#fontNote{
	font-family: 'Devonshire', cursive;
	color: #3C272C;

}
#menuNote{
	font-family: cursive;
	color: #3C272C;
	font-size: 30px;
	margin-top: 20px;
}
#leChic{
	background-color: #FDF3F9;
}
#fontChic{
	font-family: 'Redressed', cursive;
	background: linear-gradient( to right,#F36B35,#C057F9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
}

#menuChic{
font-size: 30px;
color: #F36B35;
margin-top: 20px;
}
#leDelice{
	background-color: #EEF2F7;
}
#fontDelice{
	font-family: 'Dancing Script', cursive;
	background: -webkit-linear-gradient(#402B92,#1B75E7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
#menuDelice{
	font-family: Chilanka, cursive;
	font-size: 30px;
	color:#1B75E7;
	margin-top: 25px;
}

#fontPalette{
	font-family: 'Kaushan Script', cursive;
	background: -webkit-linear-gradient( #3A8D1B, #77DD67);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 30px;
}
#menuPalette{
	color: #3A8D1B;
	font-size: 30px;
	font-family: cursive;
}
#prochaine{
	width: 7.5em;
	padding:10px;
	color: #F5D222;
	margin: auto;
	background-color: #239E75;
	font-family: Manjari Thin, sans-serif;
	border-radius: 10px;
	margin-bottom: 3em;

}

.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  width: 0px;
  content: "\2026";
  animation: ellipsis steps(4,end) 900ms infinite;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.loading-ellipsis {
  font-size: 30px;
}

/*Footer*/

#bas{
	width: 100%;
	display: flex;
	font-size: 20px;
	background-color: #239E75;
	padding-top: 8px;
	padding-bottom: 8px;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.btn{

	width: 50%;
	color: #F5D222;
	background-color: #239E75;
	border: none;
	text-decoration: none;
}

.btn:hover{


	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#mention{
	
	text-align: left;
	padding-left: 10px;
}

#contact{
	text-align: right;
	padding-right: 10px;
}




/* media queries for screens of less than 500px */
@media all and (max-width: 500px) {

	*{
		margin: 0;
		padding: 0;
	}

	.resto{
		flex-direction: column;
		width: 100%;
	}
	.petitMenu{
		width: 70%;
		height: 15em;
	}
	#bas{
	font-size: 15px;
}
}

/* media queries for 768-1024 tab*/	
@media only screen and (max-width: 1024px) and (min-width: 768px){

	.petitMenu{
		height: 20em;
	}
}
